<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides; let idx = index;" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%">
    {{idx+1}}
    <button routerLink="/another">Inside or slick</button>
  </div>
</ngx-slick>

<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button>
<hr/>
<button routerLink="/another">Test route</button>
<button routerLink="/">Go Home</button>
<h2>Routes</h2>
<router-outlet></router-outlet>